@use '@snug/core' as *;
@use 'sass:list';
@use 'sass:map';

$default-variants: () !default;
$default-options: () !default;

@mixin display($variants: (), $options: ()) {
  $variants: list.join($default-variants, $variants, list.separator($variants));
  $options: map.merge($default-options, $options);

  @include options($options, $variants) using ($value) {
    display: $value;
  }
}
